@media(min-width: 769px) and (max-width: 1500px){
    h1 {
        width: 90%;
        margin: auto;
        margin-top: 0px;
        font-size:5rem;
        /* border: 1px solid yellow; */
      } 
      h2{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        font-size: 1.3rem;
      }
      .select {
        width: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        /* border: 1px solid blue; */
     }
    select{
        padding:7px;
        cursor: pointer; 
        width: 40%;
        font-size: 1.1rem;
        border-radius: 10px;
        margin: auto;
        margin-top:50px;
        /* border:1px solid yellow */
      }
      .cajaGrande{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        /* border: 1px solid red; */
      }
    .cincoDiasCiudades{
    width: 30%;
    min-width: 340px;
    min-height: 300px;
    gap: 0px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px); 
    margin-top: 40px;  
    margin-left: 10px;
    /* border: 1px solid blue; */
}
.cincoDiasCiudades > .cajaLateral{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    padding: 12px;
    justify-content: space-around;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(0, 0, 0, 0.50);
    /* border: 1px solid red; */
}
.cincoDiasCiudades > .cajaLateral > .cajitaDoble{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 60px;
    padding: 0px;
    margin-top: 0px;
    margin-left: 7px;
    /* border: 1px solid red; */
}
.cincoDiasCiudades > .cajaLateral > .cajitaDoble p{
    width: 55%;
    height: 15px;
    align-items: center;
    text-align: center;
    padding: 12px;
    margin-left: 0px;
    padding-bottom: 10px;
    font-size: 0.8rem;
    border: 0px;
    /* border: 1px solid blue; */
}
.cincoDiasCiudades > .cajaLateral > .cajitaDoble > .cajitaDobleImg{
    height: 40px;
    width: 40px;
    margin: auto;
    /* border: 1px solid yellow; */
}
.cincoDiasCiudades > .cajaLateral > .cajitaDoble > .cajitaDobleImg img{
width: 90%;
height: 90%;
}
.cincoDiasCiudades p{
    font-size: 0.7rem;
    width: 40%;
    display:flex;
    margin: auto;
    text-align:center;
    margin-top: 5px;
    gap: 10px;
    padding: 10px;  
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    &&:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.904);
        color: rgba(0, 0, 0, 0.993)
    }
    /* border: 1px solid green; */
}
.cincoDiasCiudades img{
    width: 100px;
    height: 100px;
    margin: auto;
}
}
/**************************************************************************************************/
/***************************************MOBILE****************************************************/
/*************************************************************************************************/
@media(min-width: 320px) and (max-width: 768px){
    /* h2.subtitulo{
        border: 1px solid red;
    } */
   .cajaGrande{
    margin: auto;
   }  
   .cincoDiasCiudades{
        width: 85vw;
        gap: 5px;
        padding: 10px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
        font-size: 0.8rem;
        background-color: rgb(136, 132, 132);
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(10px);
        margin-top: 20px;  
        /* border: 1px solid blue; */
    }
   .cincoDiasCiudades .cajaLateral{  
    width: 90%;
    height: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
    }
    .cincoDiasCiudades .cajaLateral .cajitaDoble{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width:50%;
        height: 40px;
        margin: auto;
        /* border: 1px solid violet; */
    }
    .cincoDiasCiudades .cajaLateral .cajitaDoble p{
        text-align: center;
        font-size: 0.8rem;
        width: 45%;
        margin: auto;
        gap: 0px;
        padding: 5px;  
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(10px);
        /* border: 1px solid green; */
    }
    .cincoDiasCiudades .cajaLateral .cajitaDoble .cajitaDobleImg{
        display: flex;
        flex-wrap: wrap;
        width: 40px;
        height: 40px;
        /* border: 1px solid red; */
    }
    .cincoDiasCiudades .cajaLateral .cajitaDoble .cajitaDobleImg img{
        width: 100%;
        height: 100%;
    }
    .cincoDiasCiudades .cajaLateral  p{
        text-align: center;
        font-size: 0.8rem;
        width: 45%;
        margin: auto;
        margin-top: 7px;
        /* margin-left: 0px; */
        gap: 0px;
        padding: 5px;  
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(10px);
        /* border: 1px solid yellow; */
    }
}