.cincoDiasCiudades{
    width: 40%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.1rem;
    gap:0px;
    background-color: rgb(136, 132, 132);
    /* border: 1px solid blue; */
}
.cincoDiasCiudades p{
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    gap: 0;
    padding: 10px;
    /* border: 1px solid yellow; */
}
.cincoDiasCiudades img{
    width: 50px;
    height: 50px;
    margin: auto;
}