main{
    height:80%;
    margin-top: 10vh;
    /* border: 1px solid red; */
}

header {
    height: 20vh;
    }
    body {
    min-height: 80vh;
    }
    footer {
    height: 10vh;
    bottom: 0;
    position: relative;
    /* border: 1px solid green; */
    }