@media(min-width: 769px) and (max-width: 1500px){

    .tiempoCiudades{
        width: 90%;
        height: 70vh;
        gap: 0px;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        font-size: 1.1rem;
        background-color: rgb(136, 132, 132);
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(10px);
        /* border: 1px solid blue; */
    }
.select{
    padding: 15px;
    cursor: pointer;
    width: 30%;
    font-size: 1.2rem;
    border-radius: 10px;
}
/*PRUEBA*/
.tiempoCiudades .appImage{
    width: 280px;
    height:280px;
    margin: auto;
    /* border: 1px solid violet; */
}
.tiempoCiudades .appImage img{
    width: 100%;
    height: 100%;
}
.tiempoCiudades .cajaInferior{
    display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   width: 40%;
   margin: auto;
   margin-top: 0px;
   margin-left: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:0px;
}
.tiempoCiudades .cajaInferior p{
font-size:1rem;
display: flex;
flex-wrap: wrap;
margin: auto;
}
.tiempoCiudades .cajaInferior .imgBox{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 0px;
}
.tiempoCiudades .cajaInferior .imgBox img{
    width:100%;
    height: 100%;
   
}
.tiempoCiudades .cajaTextoLateral{
width: 40%;
height: 90%;
display: flex;
flex-wrap: wrap;
flex-direction: column;
margin-left:70px;
justify-content: center;
align-items: center;
margin-top: 20px;
border-radius: 5px;
background: rgba(0, 0, 0, 0.50);
backdrop-filter: blur(10px);
/* border: 1px solid red; */
}
.tiempoCiudades .cajaTextoLateral p{
    font-size: 1rem; 
    width: 60%;
    gap: 5px;
    padding: 5px; 
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    /* border: 1px solid yellow; */
}
}

/*MOBILE*/
@media(min-width: 320px) and (max-width: 768px){
    .tiempoCiudades{
        width: 80vw;
        height: 90vh;
        gap: 0px;
        padding: 10px;
        margin: auto;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
        font-size: 1.1rem;
        background-color: rgb(136, 132, 132);
        background: rgba(255, 255, 255, 0.30);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        /* border: 1px solid blue; */
    }
    .select{
        padding: 10px;
        cursor: pointer;
        width: 60vw;
        margin-top: 20px;
        font-size: 1rem;
        border-radius: 10px;
    }
    .tiempoCiudades .appImage{
        width: 150px;
        height:150px;
        margin: auto;
        margin-top: 0px;
        /* border: 1px solid violet; */
    }
    .tiempoCiudades .appImage img{
        width: 100%;
        height: 100%;
    }
    .tiempoCiudades .cajaInferior{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        width: 80vw;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap:0px;
        padding: 0px;
        /* border: 1px solid black; */
    }
    .tiempoCiudades .cajaInferior p{
    font-size:1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:0px;
    margin: auto;
    }
    .tiempoCiudades .cajaInferior .imgBox{
        width: 40px;
        height: 40px;
        margin:auto; 
        /* border: 1px solid blue; */
    }
    .tiempoCiudades .cajaInferior .imgBox img{
        width:100%;
        height: 100%;   
    }
    .tiempoCiudades .cajaTextoLateral{
    width: 70vw;
    /* height: 50%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left:0px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
    }
    .tiempoCiudades .cajaTextoLateral p{
        font-size: 0.8rem;
        width:65%;
        gap: 5px;
        padding: 6px; 
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(10px);
        /* border: 1px solid yellow; */
    }
    .navLink{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        font-size: 1rem;
        color: white;
    }
    h1{
        font-size:3rem;
    }
    h2{
        margin-top: 0px;
        font-size: 1.2rem;
    }
}