@media(min-width: 769px) and (max-width: 1500px){

.cincoDias{
    width: 40%;
    gap: 5px;
    padding: 15px;
    display: inline-block;
    justify-content: space-between;
    font-size: 1.1rem;
    background-color: rgb(136, 132, 132);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(10px); 
    margin-top: 20px;  
    margin-left: 10px;
    /* border: 1px solid blue; */
}
.cincoDias .cajaLateral{  
    width: 85%;
    height: 80%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    /* border: 1px solid red; */
    
}
.cincoDias p{
    font-size: 0.9rem;
    width: 40%;
    display:flex;
    margin: auto;
    text-align:center;
    margin-top: 10px;
    gap: 10px;
    padding: 10px;  
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(10px);
    /* border: 1px solid green; */
}
.cincoDias img{
    width: 70px;
    height: 70px;
    margin: auto;
}
}

/*MOBILE*/
@media(min-width: 320px) and (max-width: 768px){
    .cincoDias{
        width: 85vw;
        gap: 5px;
        padding: 10px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 0.8rem;
        background-color: rgb(136, 132, 132);
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.30);
        backdrop-filter: blur(10px);
        margin-top: 20px;  
        /* border: 1px solid blue; */
    }
    .cincoDias .cajaLateral{  
        width: 90%;
        height: 80%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 0px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(10px);
        /* border: 1px solid red; */
    }
    .cincoDias p{
        font-size: 0.7rem;
        width: 40%;
        margin: auto;
        margin-top: 10px;
        gap: 0px;
        padding: 5px;  
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.50);
        backdrop-filter: blur(10px);
        /* border: 1px solid yellow; */
    }
    .cincoDias img{
        width: 50px; 
        height: 50px;
        margin: auto;  
    }
    h1{
        font-size:2.7rem;
    }
    h2{
        margin-top: 0px;
        width: 70vw;
        margin: auto;
        font-size: 1.2rem;
    }
}