

.footer footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  bottom: 0;
  border-radius: 5px;
  margin-top:50vh;
  margin-bottom: 20px;
  height: 15vh; 
  /* border: 1px solid blue; */
  }
 
  .footer footer a{
    margin-top: 20px;
    text-decoration: none;
    /* border: 1px solid red; */
  }
  .footer footer p{
    box-sizing: border-box;
    width: 80%;
    display: flex;
    padding:5px;
    font-size: 1rem;
    font-weight:bolder;
    margin: auto;
    margin-top: 5px;
    justify-content: center;
    color:white;
  }
