#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}
.app{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  padding:30px;
  margin: auto;
  margin-top: 0px;
  /* border: 1px solid blue;*/
} 
.nav nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin:auto;
  text-align: center;
  align-items: center;
  /* border: 1px solid red; */
}
.nav nav .navLink{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  margin-top:0px;
  padding: 10px;
  border: 1px solid rgb(9, 255, 0);
}
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  padding:0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:0px;
  width: 20%;
  font-size: 1rem;
  border: 1px solid red;
}
a:hover {
  color: #535bf2;
} */