:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  body {
    display: flex;
    flex-wrap: wrap;
  background-image:linear-gradient( rgba(73, 68, 68, 0.226), rgba(22, 21, 21, 0.548) ),url('/backgroundImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}


/*MOBILE*/
/* @media(min-width: 320px) and (max-width: 768px){
  h1 {
    font-size:4rem;
    line-height: 1.1;
  }
} */
 