/* body{
    display:block;
    border: 1px solid yellow;
} */
.cajaGrandeNotFound{
    width: 100%;
    height: 70vh;
    margin: auto;
    /* border: 1px solid red; */
}
.cajaGrandeNotFound p{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    font-size: 4rem;
    /* border: 1px solid green; */
}